
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <h:head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <ui:composition template="/templates/main_template.xhtml">

        <ui:define name ="top">

        </ui:define>

        <ui:define name ="content">
            <b:modal id="amodalDelRoom" title="Supprimer la pièce" styleClass="modalDelRoom"
                     closable="false"  close-on-escape="false" backdrop="false">
                <h:form id="myFormDelRoom">

                    <b:container id="delRoomModalCon" fluid="true">
                        <p:fieldset id="delRoomModalFiel">
                            <center>
                                <h4><b><i><p:outputLabel value="#{homeRoomBean.delRoomConfMess}"/></i></b></h4>
                            </center>
                        </p:fieldset>
                        <b:row style="margin-top: 3%">
                            <b:commandButton 
                                title="Supprimer" icon="check" size="sm" ajax="true" update=":oneRoomForm :roomListForm :myFormDelRoom"
                                look="danger" style="margin-right: 3%" action="#{homeRoomBean.deletRoomFromHomeConfirmation()}"/>

                            <b:commandButton oncomplete="$('.modalDelHome').modal('hide'); return false;" 
                                             icon="remove " process=":oneRoomForm :roomListForm :myFormDelRoom" update="myFormDelHome" 
                                             ajax="true" style="margin-right: 2%" title="Annuler"
                                             size="sm"/>
                        </b:row>
                    </b:container>


                </h:form>
            </b:modal>




            <b:modal id="amodal3" title="Supprimer le foyer" styleClass="modalDelHome"
                     closable="false"  close-on-escape="false" backdrop="false">
                <h:form id="myFormDelHome">

                    <b:container id="delHomeModalCon" fluid="true">
                        <p:fieldset id="delHomeModalFiel">
                            <center>
                                <h4><b><i><p:outputLabel value="#{homeBean.delHomeConfMess}"/></i></b></h4>
                            </center>
                        </p:fieldset>
                        <b:row style="margin-top: 3%">
                            <b:commandButton 
                                title="Supprimer" icon="check" size="sm" ajax="true" update="myFormDelHome"
                                look="danger" style="margin-right: 3%" action="#{homeBean.deleteHome()}"/>

                            <b:commandButton oncomplete="$('.modalDelHome').modal('hide'); return false;" 
                                             icon="remove " process=":memberListForm" update="myFormDelHome" 
                                             ajax="true" style="margin-right: 2%" title="Annuler"
                                             size="sm"/>
                        </b:row>
                    </b:container>


                </h:form>
            </b:modal>





            <b:modal id="amodal1" title="Nouveau membre" styleClass="modalPseudoClass2"
                     closable="false"  close-on-escape="false" backdrop="false" >
                <h:form id="myFormID">
                    <b:container id="membersModalCon" fluid="true">
                        <p:fieldset id="membersModalPan">

                            <b:row style="margin-top: 2%">
                                <b:column medium-screen="1">
                                    <b:inputText id="newMembMsg" rendered="false"
                                                 ajax="true" autocomplete="false" update="@(.newMembMessage)">
                                    </b:inputText>
                                </b:column>


                                <b:column medium-screen="10" style-class="newMembMessage">
                                    <b:message  style="height: 50%" for="myFormID:membersModalCon:newMembMsg"/>
                                    <b:message  style="height: 50%" for="myFormID:membersModalCon:newMembEmail"/>
                                    <b:message  style="height: 50%" for="myFormID:membersModalCon:newMembStatus" />
                                </b:column>

                            </b:row>


                            <b:row style="margin-top: 5%">
                                <b:column id="newMemberColumn" medium-screen="10">
                                    <b:inputText  required="true" requiredMessage="Veuillez saisir une adresse email"
                                                  id="newMembEmail" placeholder="Email" 
                                                  value="#{newMemberBean.newMembEmail}" >
                                        <f:facet name="append">
                                            <h:outputText value="@"/>
                                        </f:facet>
                                    </b:inputText>
                                </b:column> 
                                <b:column medium-screen="1">
                                    <p:commandButton
                                        action="#{newMemberBean.findUser()}" 
                                        icon="ui-icon-search"
                                        process="myFormID"
                                        update="myFormID:membersModalCon" 
                                        ajax="true"
                                        title="Rechercher l'utilisateur"/>

                                </b:column>
                            </b:row>



                            <b:row>
                                <b:column medium-screen="6">
                                    <b:inputText label="Nom: " id="newLstName" value="#{newMemberBean.newMembLastname}"  disabled="true"/> </b:column>
                                <b:column medium-screen="6">
                                    <b:inputText label="Prénom: " id="newFstName" value="#{newMemberBean.newMembFirstname}" disabled="true" />
                                </b:column>
                            </b:row>


                            <b:row>
                                <b:column medium-screen="6">
                                    <b:selectOneMenu label="Statut: " id="newMembStatus" value="#{newMemberBean.newMembStatusCode}">
                                        <f:selectItem itemLabel="-- SelectOne --"/>
                                        <f:selectItems value="#{newMemberBean.newMembStatusList}" 
                                                       var="unStatus" 
                                                       itemLabel="#{unStatus.description}"
                                                       itemValue="#{unStatus.code}"
                                                       />
                                    </b:selectOneMenu> 
                                </b:column>
                                <b:column medium-screen="6"></b:column>
                            </b:row>
                        </p:fieldset>

                        <b:row style="margin-top: 5%">
                            <b:commandButton   icon="check " title="Valider"
                                               process="myFormID"
                                               update="myFormID:membersModalCon :memberListForm :myFormDelHome" 
                                               ajax="true"
                                               action="#{newMemberBean.newMemb()}"
                                               size="sm" look="success" style="margin-right: 2%"
                                               />

                            <b:commandButton oncomplete="$('.modalPseudoClass2').modal('hide'); return false;" 
                                             icon="remove " process=":memberListForm" update="myFormID:membersModalCon :myFormDelHome" 
                                             ajax="true" style="margin-right: 2%" title="Annuler"
                                             size="sm"/>
                        </b:row>

                    </b:container>
                </h:form>
            </b:modal>




            <div class="bodyMainDiv">
                <div id="divBodyMainPageId">

                    <h:form id="homeDetailForm">

                        <div class="container">
                            <div class="row">
                                <div class="col-md-4">
                                    <h1><b>Foyer</b></h1>
                                    <p:spacer height="50px"/>
                                </div>
                                <div class="col-md-4">
                                    <b:row>
                                        <b:column  style="margin-top: 2%; margin-bottom: 2%" medium-screen="1">
                                            <b:inputText id="homeDetailMsg" rendered="false"
                                                         ajax="true" autocomplete="false" update="@(.homeDetailMessage)">
                                            </b:inputText>
                                        </b:column>


                                        <b:column medium-screen="10" style-class="homeDetailMessage">
                                            <b:message  style="height: 50%" for="homeDetailMsg"/>
                                            <b:message style="height: 50%" for="homeName"/>
                                            <b:message  style="height: 50%" for="homeAddress" />
                                            <b:message style="height: 50%" for="zipcode"/>
                                            <b:message style="height: 50%" for="city" />
                                        </b:column>

                                    </b:row>
                                </div>
                                <div class="col-md-4"></div>
                                <div id="divButtondMainPageId" class="col-md-4">
                                    <b:commandButton title="Acceuil" icon="home" action="#{navigationBean.backToWelcomePage()}" size="2x" style="margin-right: 15%" />                                                                       
                                    <b:commandButton action="#{homeBean.updateHome()}" ajax="true" update=":homeDetailForm" rendered="#{homeBean.homeButtonRendered}" title="Sauvegarder" icon="save" size="2x" look="info" style="margin-right: 2%"/>
                                    <b:button rendered="#{homeBean.homeButtonRendered}" title="Supprimer" icon="trash" size="2x" look="danger" onclick="$('.modalDelHome').modal()"/>

                                </div>
                            </div>


                        </div>
                        <div id="divHomeDetailMainPageId">
                            <b:panelGrid size="medium-screen" columns="2">

                                <b:inputText required="true" requiredMessage="Veuillez saisir le nom du foyer" disabled="#{homeBean.homeDetailDisabled}" label="Nom" placeholder="Nom du foyer" id="homeName" value="#{homeBean.homeName}"/><p/>

                                <b:inputText required="true" requiredMessage="Veuillez saisir la rue du foyer" disabled="#{homeBean.homeDetailDisabled}" label="Rue" placeholder="Adresse (Rue, numero)" id="homeAddress" value="#{homeBean.homeStreet}"/><p/>

                                <b:inputText required="true" requiredMessage="Veuillez saisir le code postal du foyer" disabled="#{homeBean.homeDetailDisabled}" label="Npa" placeholder="ZipCode" id="zipcode" value="#{homeBean.homeZipcode}"/>

                                <b:inputText required="true" requiredMessage="Veuillez saisir la ville du foyer" disabled="#{homeBean.homeDetailDisabled}" label="Ville" placeholder="Ville" id="city" value="#{homeBean.homeCity}"/>
                            </b:panelGrid>
                        </div>
                    </h:form>


                    <div id="membersDiv">   

                        <b:container id="roomsContainer" fluid="true">
                            <b:panel id="roomsPanel" title="Pièces" look="primary">
                                <b:row id="roomsRow">
                                    <b:column id="roomListColumn" medium-screen="4">
                                        <b:panel id="roomListPanel" look="primary">
                                            <h:form id="roomListForm">


                                                <b:dataTable id="roomList" value="#{homeRoomBean.roomsList}"
                                                             var="room" border="false">
                                                    <b:dataTableColumn label="">
                                                        <b:commandButton rendered="#{homeBean.otherButtonRendered}" title="Supprimer" 
                                                                         icon="trash" size="sm" look="danger" ajax="true"
                                                                         update=":roomListForm :oneRoomForm :myFormDelRoom" action="#{homeRoomBean.deletRoomFromHome(room.id)}"/>
                                                    </b:dataTableColumn>  
                                                    <b:dataTableColumn label="Pièce(s)">
                                                        <h:commandLink value="#{room.description}" action="#{homeRoomBean.goToRoomPage(room.id)}"/>
                                                    </b:dataTableColumn>  
                                                </b:dataTable>
                                            </h:form>
                                        </b:panel>
                                    </b:column>

                                    <b:column medium-screen="1"></b:column>

                                    <b:column id="columnRooms" medium-screen="7"> 
                                        <b:panel id="oneRoomPanel" look="primary">
                                            <h:form id="oneRoomForm">
                                                <h3><b><u>Ajouter une pièce</u></b></h3>
                                                <p/>

                                                <b:row style="margin-top: 5%">
                                                    <b:column medium-screen="7">
                                                        <b:selectOneMenu label="Description: " id="room" value="#{homeRoomBean.roomCode}" >
                                                            <f:ajax event="change" listener="#{homeRoomBean.roomSelected()}"/>
                                                            <f:selectItem itemLabel="-- SelectOne --" />
                                                            <f:selectItems value="#{homeRoomBean.roomList}" 
                                                                           var="unRoom" 
                                                                           itemValue="#{unRoom.code}" 
                                                                           itemLabel="#{unRoom.description}"/>

                                                        </b:selectOneMenu>
                                                    </b:column>
                                                    <b:column medium-screen="1"></b:column>
                                                    <b:column medium-screen="4">
                                                        <b:inputText id="roomCode" label="Code: " value="#{homeRoomBean.roomCode}" disabled="true" />
                                                    </b:column>
                                                </b:row>

                                                <b:row>
                                                    <b:column medium-screen="5"> 
                                                        <b:commandButton rendered="#{homeBean.otherButtonRendered}" title="Sauvegarder" id="buttonSaveMem"                                                                          
                                                                         process=":oneRoomForm" size="sm"
                                                                         icon="plus" style="margin-right: 5%"
                                                                         disabled="#{homeRoomBean.isAddRoomButtonRendered}" action="#{homeRoomBean.cleanCode()}" 
                                                                         ajax="true" update=":oneRoomForm :roomListForm:roomList :myFormDelHome"/>

                                                    </b:column>
                                                    <b:column medium-screen="2">                                                            
                                                    </b:column>
                                                    <b:column medium-screen="5">  </b:column>
                                                </b:row>
                                            </h:form>
                                        </b:panel>
                                    </b:column>
                                </b:row>
                            </b:panel>
                        </b:container>



                        <b:container id="membersContainer" fluid="true">
                            <b:panel id="membersPanel" title="Membres" look="primary">
                                <b:row id="membersRow">
                                    <b:column id="membListColumn" medium-screen="4">
                                        <b:panel id="memberListPanel" look="primary">
                                            <h:form id="memberListForm">


                                                <b:dataTable id="membList" value="#{homeBean.members}"
                                                             var="memb" border="false" page-length="5">

                                                    <b:dataTableColumn label="Nom">
                                                        <h:commandLink value="#{memb.user.lastname}" action="#{homeBean.initMemb(memb.id)}">
                                                            <f:ajax render=":memberModif"/>
                                                        </h:commandLink>
                                                    </b:dataTableColumn>
                                                    <b:dataTableColumn label="Prénom">
                                                        <h:commandLink value="#{memb.user.firstname}" action="#{homeBean.initMemb(memb.id)}">
                                                            <f:ajax render=":memberModif"/>
                                                        </h:commandLink>
                                                    </b:dataTableColumn>
                                                    <b:dataTableColumn label="Statut">
                                                        <h:outputText value="#{memb.status.code}" />
                                                    </b:dataTableColumn>

                                                </b:dataTable>   
                                                <b:row>
                                                    <b:column span="3">
                                                        <b:button rendered="#{homeBean.otherButtonRendered}" title="Nouveau membre" icon="plus" look="info" onclick="$('.modalPseudoClass2').modal()" size="sm"/>
                                                    </b:column>
                                                </b:row>
                                            </h:form>
                                        </b:panel>
                                    </b:column>

                                    <b:column medium-screen="1"></b:column>

                                    <b:column id="columnmembers" medium-screen="7"> 
                                        <b:panel id="memberModifPanel" look="primary">
                                            <h:form id="memberModif">
                                                <h3><b><u>Membre</u></b></h3>
                                                <p/>

                                                <b:row style="margin-top: 5%">
                                                    <b:column medium-screen="5">
                                                        <b:inputText label="Nom: " id="lstName" value="#{homeBean.userLastname}"  disabled="true"/>
                                                    </b:column>
                                                    <b:column medium-screen="2">                                                            
                                                    </b:column>
                                                    <b:column medium-screen="5">
                                                        <b:inputText label="Prénom: " id="fstName" value="#{homeBean.userFirstname}" disabled="true" />
                                                    </b:column>
                                                </b:row>

                                                <b:row>
                                                    <b:column medium-screen="5">
                                                        <b:inputText value="#{homeBean.userBirthdateToString}" disabled="true" label="Membre depuis le: "/>
                                                    </b:column>
                                                    <b:column medium-screen="2">                                                            
                                                    </b:column>
                                                    <b:column medium-screen="5">
                                                        <b:inputText label="Email:" value="#{homeBean.userEmail}" disabled="true">
                                                            <f:facet name="prepend">
                                                                <h:outputText value="@" />
                                                            </f:facet>
                                                        </b:inputText>
                                                    </b:column>
                                                </b:row>


                                                <b:row>
                                                    <b:column medium-screen="5">
                                                        <b:selectOneMenu disabled="#{homeBean.isDisabled}" label="Statut: " id="status" value="#{homeBean.statusCode}" >
                                                            <f:selectItem itemLabel="-- SelectOne --"/>
                                                            <f:selectItems value="#{homeBean.statusList}" 
                                                                           var="unStatus" 
                                                                           itemLabel="#{unStatus.description}"
                                                                           itemValue="#{unStatus.code}"/>
                                                        </b:selectOneMenu> 
                                                    </b:column>
                                                    <b:column medium-screen="2">                                                            
                                                    </b:column>
                                                    <b:column medium-screen="5">


                                                    </b:column>
                                                </b:row>


                                                <b:row>
                                                    <b:column medium-screen="5"> 
                                                        <p:commandButton title="Initialiser" icon="ui-icon-refresh" style="margin-right: 5%" ajax="true" update=":memberModif"
                                                                         actionListener="#{homeBean.cleanMemb()}"/>


                                                        <p:commandButton title="Sauvegarder" id="buttonSaveMem" disabled="#{homeBean.isDisabled}" 
                                                                         ajax="true" update=":memberModif :memberListForm:membList" 
                                                                         process=":memberModif"
                                                                         icon="ui-icon-disk" style="margin-right: 5%"
                                                                         action="#{homeBean.updateMember()}"/>

                                                        <p:commandButton  title="supprimer" icon="ui-icon-trash"
                                                                          disabled="#{homeBean.isDisabled}" action="#{homeBean.deleteMember()}" 
                                                                          ajax="true" update=":memberModif :memberListForm:membList :myFormDelHome:delHomeModalCon" 
                                                                          process=":memberModif" style="margin-right: 5%"/>  

                                                    </b:column>
                                                    <b:column medium-screen="2">                                                            
                                                    </b:column>
                                                    <b:column medium-screen="5">  </b:column>
                                                </b:row>
                                            </h:form>
                                        </b:panel>
                                    </b:column>
                                </b:row>
                            </b:panel>
                        </b:container>
                    </div>
                </div>

            </div>
        </ui:define >
    </ui:composition>
</html>
