
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <ui:composition template="/templates/connexion_template.xhtml">
        <ui:define name ="connexionTop">
            <center>
                <div>
                    <h2>Home shopping list App</h2>
                </div>
            </center>
        </ui:define>

        <ui:define name ="connexionContent">
            <div>
                <b:container id="loginContainerID" style="margin-left: 35%; margin-right: 35%; width: 30%">
                    <b:panel title="Utilisateur" look="#{loginBean.lookFieldset}">

                        <b:row>
                            <p:tabView id="connexionTabView" dynamic="true" cache="true" effect="fold">
                                <h:form id="justForm"></h:form>
                                <p:tab id="logingTab" title="Connexion">
                                    <h:form id="pwdInitForm">
                                        <p:fieldset rendered="#{loginBean.newPasswordRendered}"  id="newPasswordFielset"> 
                                            <h3><b><u>Reinitialiser le mot de passe</u></b></h3>

                                            <b:row style="margin-top: 5%">
                                                <b:column medium-screen="1">
                                                    <b:inputText id="newPasswordMsg" rendered="false"
                                                                 ajax="true" autocomplete="false" update="@(.newPasswordMessage)">
                                                    </b:inputText>
                                                </b:column>


                                                <b:column medium-screen="10" style-class="newPasswordMessage">
                                                    <b:message style="height: 50%" for="newPasswordMsg"/>
                                                    <b:message style="height: 50%" for="newPasswordEmail" />
                                                </b:column>
                                            </b:row>


                                            <b:row style="margin-top: 5%">
                                                <b:column medium-screen="4">
                                                    <h:outputText value="Email:"/>
                                                </b:column>
                                                <b:column medium-screen="8">
                                                    <b:inputText placeholder="Email" id="newPasswordEmail"
                                                                 value="#{loginBean.userEmail}"
                                                                 ajax="true" autocomplete="false"
                                                                 update="@(.newPasswordMessage)">
                                                        <f:facet name="prepend">
                                                            <span class="glyphicon glyphicon-user"></span>
                                                        </f:facet>
                                                    </b:inputText>
                                                </b:column>
                                            </b:row>

                                            <b:row style="margin-top: 5%">
                                                <b:column medium-screen="8"></b:column>

                                                <b:column span="2">
                                                    <b:commandButton title="Retour" icon="chevron-left"  ajax="true" 
                                                                     action="#{loginBean.returnToConnexion()}" 
                                                                     process=":loginContainerID:connexionTabView:justForm" 
                                                                     update=":loginContainerID"
                                                                     style="width:100%" />
                                                </b:column>
                                                <b:column span="2">
                                                    <b:commandButton title="Envoyer" icon="send" ajax="true"  
                                                                     look="primary"  
                                                                     process="connexionTabView:pwdInitForm"
                                                                     update=":loginContainerID:connexionTabView:logingTab:pwdInitForm"
                                                                     style="width:100%" />
                                                </b:column>
                                            </b:row> 
                                        </p:fieldset>
                                    </h:form>


                                    <h:form id="loginForm">
                                        <p:fieldset rendered="#{loginBean.connexionFieldRendered}"  id="connexionFielset"> 
                                            <h3><b><u>Identification</u></b></h3>

                                            <b:row id="loginMsgRow" style="margin-top: 5%">
                                                <b:column id="columnLoginMsg" medium-screen="1">
                                                    <b:inputText id="loginMsg" rendered="false"
                                                                 ajax="true" autocomplete="false" update="@(.loginMessage)">
                                                    </b:inputText>
                                                </b:column>


                                                <b:column medium-screen="10" style-class="loginMessage">
                                                    <b:message style="height: 50%" for="loginMsg"/>
                                                    <b:message style="height: 50%" for="username" />
                                                    <b:message style="height: 50%" for="password"/>
                                                </b:column>
                                            </b:row>


                                            <b:row style="margin-top: 5%">
                                                <b:column medium-screen="4">
                                                    <h:outputText value="Email:"/>
                                                </b:column>
                                                <b:column medium-screen="8">
                                                    <b:inputText value="#{loginBean.userEmail}" placeholder="Email" id="username"
                                                                 required="true"
                                                                 requiredMessage="Veuillez saisir votre adresse email!"
                                                                 ajax="true" autocomplete="false"
                                                                 update="@(.loginMessage)">
                                                        <f:facet name="prepend">
                                                            <span class="glyphicon glyphicon-user"></span>
                                                        </f:facet>
                                                    </b:inputText>
                                                </b:column>
                                            </b:row>
                                            <b:row>
                                                <b:column medium-screen="4">
                                                    <h:outputText value="Mot de passe:" />
                                                </b:column>
                                                <b:column medium-screen="8">
                                                    <b:inputSecret value="#{loginBean.userPwd}" placeholder="Mot de passe" id="password"
                                                                   required="true"
                                                                   requiredMessage="Veuillez saisir votre mot de passe!"
                                                                   autocomplete="false" update="@(.loginMessage)">
                                                        <f:facet name="prepend">
                                                            <span class="glyphicon glyphicon-lock"></span>
                                                        </f:facet>
                                                    </b:inputSecret>
                                                </b:column>
                                            </b:row>
                                            <b:row style="margin-top: 5%">
                                                <b:column medium-screen="2"></b:column>
                                                <b:column span="5">
                                                    <b:commandButton title="Connexion" value="Connexion" ajax="true" 
                                                                     action="#{loginBean.validateUsernamePassword}"  look="primary" 
                                                                     process="connexionTabView:loginForm" 
                                                                     update=":loginContainerID:connexionTabView:logingTab:loginForm"
                                                                     style="width:100%" />

                                                </b:column>
                                                <b:column span="5">
                                                    <b:commandButton title="Mot de passe oublié" value="Mot de passe oublié" ajax="true" 
                                                                     process="connexionTabView:justForm" action="#{loginBean.forgotPassword()}" 
                                                                     update=":loginContainerID:connexionTabView:logingTab"
                                                                     style="width:100%" />
                                                </b:column>
                                            </b:row> 
                                        </p:fieldset> 
                                    </h:form>

                                </p:tab>
                                <p:tab id="registringTab" title="Enregistrement">

                                    <h:form id="newUserForm">
                                        <p:fieldset id="newUserFieldset"> 
                                            <h3><b><u>Nouvel utilisateur</u></b></h3>
                                            <b:row style="margin-top: 5%">
                                                <b:column medium-screen="1">
                                                    <b:inputText id="newUserMsg" rendered="false"
                                                                 ajax="true" autocomplete="false" update="@(.newUserMessage)">
                                                    </b:inputText>
                                                </b:column>


                                                <b:column medium-screen="10" style-class="newUserMessage">
                                                    <b:message style="height: 50%" for="newUserMsg"/>
                                                    <b:message style="height: 50%"  for="lastname" />
                                                    <b:message style="height: 50%"  for="firstname"/>
                                                    <b:message style="height: 50%"  for="email"/>
                                                    <b:message style="height: 50%"  for="birthdate"/>
                                                </b:column>
                                            </b:row>


                                            <b:row style="margin-top: 5%">
                                                <b:column medium-screen="4">
                                                    <h:outputText value="Nom:" />
                                                </b:column>
                                                <b:column medium-screen="8">
                                                    <b:inputText id="lastname"
                                                                 value="#{userBean.lastname}"
                                                                 placeholder="Nom"
                                                                 autocomplete="false" 
                                                                 required="true" 
                                                                 requiredMessage="Veuillez remplir votre nom" 
                                                                 update="@(.newUserMessage)">
                                                    </b:inputText>
                                                </b:column>
                                            </b:row>
                                            <b:row>
                                                <b:column medium-screen="4">
                                                    <h:outputText value="Prénom:" />
                                                </b:column>
                                                <b:column medium-screen="8">
                                                    <b:inputText id="firstname"
                                                                 value="#{userBean.firstname}"
                                                                 placeholder="Prénom"
                                                                 autocomplete="false" 
                                                                 required="true" 
                                                                 requiredMessage="Veuillez remplir votre prénom" 
                                                                 update="@(.newUserMessage)">
                                                    </b:inputText>
                                                </b:column>
                                            </b:row>
                                            <b:row>
                                                <b:column medium-screen="4">
                                                    <h:outputText value="Email:" />
                                                </b:column>
                                                <b:column medium-screen="8">
                                                    <b:inputText id="email"
                                                                 value="#{userBean.emailAdd}"
                                                                 placeholder="Email"
                                                                 autocomplete="false" 
                                                                 required="true" 
                                                                 requiredMessage="Veuillez remplir votre adresse email" 
                                                                 update="@(.newUserMessage)">
                                                    </b:inputText>
                                                </b:column>
                                            </b:row>
                                            <b:row>
                                                <b:column medium-screen="4">
                                                    <h:outputText value="Date de naissance:" />
                                                </b:column>
                                                <b:column medium-screen="8">
                                                    <b:datepicker id="birthdate"
                                                                  value="#{userBean.birthday}"
                                                                  changeMonth="true" 
                                                                  changeYear="true" 
                                                                  required="true" 
                                                                  requiredMessage="Veuillez remplir votre date de naissance"/>
                                                </b:column>
                                            </b:row>
                                            <b:row style="margin-top: 5%">
                                                <b:column medium-screen="10"></b:column>
                                                <b:column span="2">
                                                    <b:commandButton title="S'enregistrer" icon="plus" ajax="true" 
                                                                     process="connexionTabView:newUserForm" 
                                                                     update=":loginContainerID:connexionTabView:registringTab:newUserForm"
                                                                     action="#{userBean.createNewUser()}"
                                                                     look="success" style="width:100%" />
                                                </b:column>
                                            </b:row> 
                                        </p:fieldset>
                                    </h:form>
                                </p:tab>
                            </p:tabView> 
                        </b:row>
                        <p:effect rendered="#{loginBean.isShaking}" speed="90" type="shake" event="load" />
                    </b:panel>
                </b:container>
            </div>
        </ui:define >
    </ui:composition>
</html>
