<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <ui:composition template="/templates/main_template.xhtml">
        <ui:define name ="top"></ui:define>

        <ui:define name ="content">
            <div class="bodyMainDiv">

                <h:form>  
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <h1><b>Bon à savoir</b></h1>
                            </div>
                            <div class="col-md-4"></div> 
                            <div class="col-md-4"></div> 
                        </div>
                    </div>


                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <h3><u>Description</u></h3>
                                <div id="welcomePagedivAppDesc">
                                    <p><i>HomeShoppingList est une application qui permet aux différents membres d’un foyer
                                            de connaître à tout moment l’inventaire des produits alimentaires, de douche, lessive
                                            et autres…, qui est disponible dans le foyer (la maison). Le but est de permettre à
                                            n’importe quel membre d’un foyer de pouvoir faire les courses sans forcément établir
                                            de liste de courses au préalable.</i></p>
                                </div>
                            </div> 
                            <div class="col-md-6">
                                <h3><u>Quelques informations</u></h3>
                                <div>
                                    <b:inputText label="Nombre de foyers existants: " value="5" disabled="true" />
                                    <b:inputText label="Pièce avec le plus de consommation: " value="Cuisine" disabled="true" />
                                    <b:inputText label="Le produit le plus consommé: " value="Papier toilette" disabled="true" />
                                    <b:inputText label="Membre qui ravitaille le plus fréquemment: " value="Boris Klett" disabled="true" />
                                </div>
                            </div> 
                        </div>
                    </div>

                </h:form>
                <center>
                    <div id="welcomePageDivSeparator">
                        <p:separator />
                    </div>
                </center>



                <b/>
                <b/>

                <b:container id="HomesCon" fluid="true" class="mainContenairs">
                    <b:row>
                        <b:column id="homeListColumn" medium-screen="7">
                            <b:panel title="Foyers" id="homesPanel" look="primary">
                                <h:form id="homes">
                                    <b:row style="margin-top: 2%; margin-bottom: 2%">
                                        <b:column medium-screen="1">
                                            <b:inputText id="homesMsg" rendered="false"
                                                         ajax="true" autocomplete="false" update="@(.homesMessage)">
                                            </b:inputText>
                                        </b:column>


                                        <b:column medium-screen="10" style-class="homesMessage">
                                            <b:message  style="height: 50%" for="homesMsg"/>
                                        </b:column>

                                    </b:row>


                                    <b:dataTable id="homeList" value="#{welcomeBean.homes}"
                                                 var="home" border="false" page-length="5">

                                        <b:dataTableColumn label="Modifier">
                                            <b:commandButton size="sm" look="info" title="Visualiser" icon="search"
                                                             action="#{welcomeBean.homeVisual(home.name)}"/>

                                            <b:commandButton title="supprimer" icon="trash" look="danger" size="sm"
                                                             rendered="#{welcomeBean.canBeDelete(home.name)}"
                                                             action="#{welcomeBean.delete(home.name)}"
                                                             style="margin-left: 1%"
                                                             ajax="true" update=":HomesCon:newHome homes :myFormAccount:homesList" />
                                        </b:dataTableColumn>

                                        <b:dataTableColumn label="Nom">
                                            <h:outputText value="#{home.name}"/>
                                        </b:dataTableColumn>
                                        <b:dataTableColumn label="Adresse">
                                            <h:outputText value="#{home.street}, #{home.zipCode} #{home.city}"/>
                                        </b:dataTableColumn>
                                    </b:dataTable>
                                </h:form>
                            </b:panel>

                        </b:column>
                        <b:column id="newHomeColumn" medium-screen="5">
                            <b:panel title="Nouveau foyer" id="newhomePanel" look="primary">
                                <h:form id="newHome">                                    

                                    <p:fieldset id="fieldsethomes">
                                        <b:row style="margin-top: 2%">
                                            <b:column medium-screen="1">
                                                <b:inputText id="newHomeMsg" rendered="false"
                                                             ajax="true" autocomplete="false" update="@(.newHomeMessage)">
                                                </b:inputText>
                                            </b:column>


                                            <b:column medium-screen="10" style-class="newHomeMessage">
                                                <b:message  style="height: 50%" for="newHomeMsg"/>
                                                <b:message style="height: 50%" for="newHomeName"/>
                                                <b:message  style="height: 50%" for="newHomeStreet" />
                                                <b:message style="height: 50%" for="newHomeZipCode"/>
                                                <b:message style="height: 50%" for="newHomeCity" />
                                            </b:column>

                                        </b:row>


                                        <b:row style="margin-top: 2%">
                                            <b:column medium-screen="12">
                                                <b:inputText placeholder="Nom du foyer" id="newHomeName"
                                                             value="#{welcomeBean.homeName}"
                                                             required="true" 
                                                             requiredMessage="Veuillez saisir le nom du foyer"/>
                                            </b:column>
                                        </b:row>

                                        <b:row style="margin-top: 1%">
                                            <b:column medium-screen="12">
                                                <b:inputText placeholder="Adresse (Rue, numero)" id="newHomeStreet"
                                                             value="#{welcomeBean.homeStreet}"
                                                             required="true" 
                                                             requiredMessage="Veuillez saisir la rue du foyer"/>
                                            </b:column>
                                        </b:row>

                                        <b:row style="margin-top: 1%">
                                            <b:column medium-screen="4">                                                
                                                <b:inputText placeholder="npa" id="newHomeZipCode"
                                                             value="#{welcomeBean.homeZipCode}"
                                                             required="true" 
                                                             requiredMessage="Veuillez saisir le code postal du foyer"/>
                                            </b:column>
                                            <b:column medium-screen="8">
                                                <b:inputText placeholder="Ville" id="newHomeCity"
                                                             value="#{welcomeBean.homeCity}"
                                                             required="true" 
                                                             requiredMessage="Veuillez saisir la ville du foyer"/>
                                            </b:column>
                                        </b:row>

                                        <b:commandButton look="success" size="sm" title="Valider" icon="plus" action="#{welcomeBean.createNewHome()}" ajax="true"
                                                         update=":HomesCon:newHome homes :myFormAccount:homesList" process="newHome" />

                                        <b:commandButton size="sm" title="Réinitialiser" style="margin-left: 1%" icon="refresh" action="#{welcomeBean.refresh()}" ajax="true"
                                                         update=":HomesCon:newHome homes" process="homes" />
                                    </p:fieldset>

                                </h:form>

                            </b:panel>
                        </b:column>
                    </b:row>
                </b:container>
            </div>
        </ui:define >
    </ui:composition>

</html>
