/**---------------------------------- Pour les UI du template -----------------------------------------**/
#top {
    position: fixed;
    color: white;
    padding-left: 1%;
    padding-right: 1%;
    margin: 0px 0px 0px 0px;
    width: 100%;
    z-index: 1; 
    height: 65px;   
}

#connexionTop {
    position: fixed;
    background-color: #036fab;
    width: 100%;
    z-index: 1; 
    height: 150px;  
    margin-bottom: 100%;
}


#bottom {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    width: 100%;
    padding: 5px;
    z-index: -1;
}

.connexionCenter_content {
    width: 100%;
    padding: 5px;
    padding-top: 10%;
    z-index: -1;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
    font-weight : bold;
    text-decoration: none;
}

#top a:link:hover, #top a:link{
    color: black;
}

#top a:visited:hover, #top a:visited {
    color: black;
}

#top a:link:hover, #top a:visited:hover  {
    font-weight : bold;
}

#connexionTop h2 {
    text-decoration: underline overline dotted red;
}




/** --------------------------------------------------------------------------------------------------------------------------------------------------**/
/** --------------------------------------------------------------- Autres ---------------------------------------------------------------------------**/

/** ------ Classess -----*/
.BimageMainTemplate{
    position: fixed;
    z-index: -1; 

    background-image:url("resources/img/hsl.jpg") ;
    width: 100%;
    height: 100%;

    -webkit-filter: blur(3px);filter: blur(3px);
    background-size:cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
}    

.bodyMainDiv {
    opacity: 0.97; 
    background-color: activecaption; 
    width: 80%; 
    margin-right: 10%; 
    margin-left: 10%; 
    margin-top: 5%;
    margin-bottom: 3%;
    -moz-border-radius:25px;
    border-radius: 25px;
    padding-top: 3%;
    padding-bottom: 2%;

}

.mainContenairs, .panelGridDetails {
    margin-top: 10%;
    width: 80%;
}
/** ------ ID's -----*/

#bodyDivRoomId, #divRoomRoomPageId, #divBodyMainPageId {
    width: 80%; 
    margin-right: 10%; 
    margin-left: 10%; 
    margin-bottom: 10%
}

#divRoomRoomPageId{
    margin-top: 10%
}

#divRoomDetailRoomPageId, #divHomeDetailMainPageId{
    margin-bottom: 10%

}

#divHomeDetailMainPageId{
    width: 40%;
    margin-left: 1.5%
}


#divButtonRoomPageId, #divButtondMainPageId {
    text-align: right; 
    margin-top: 2%
}

#buttonHomeRoomPageId{
    margin-right: 2%
}
#welcomePagedivAppDesc{
    width: 90%; 
    text-align: justify;
}

#welcomePageDivSeparator{
    width: 40%;
}


/** ------ Both -----*/