
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <ui:composition template="/templates/main_template.xhtml">
        <ui:define name ="top"></ui:define>

        <ui:define name ="content">


            <b:modal id="modalProdList" title="Liste de produits disponibles" styleClass="modalPseudoClassProdList"
                     closable="false"  close-on-escape="false" backdrop="false" >
                <h:form id="listProdForm">
                    <b:container fluid="true">
                        <p:fieldset>
                            <b:dataTable id="productList" value="#{productBean.products}"
                                         var="prod">

                                <b:dataTableColumn label="NOM DU PROD." order="asc">
                                    <h:commandLink value="#{prod.libelle}" action="#{productBean.findProd(prod.libelle)}">
                                        <f:ajax render=":prodDetailForm :useProdForm :ravProdForm"/>
                                    </h:commandLink>
                                </b:dataTableColumn>
                                <b:dataTableColumn label="CODE">
                                    <h:outputText value="#{prod.code}"/>
                                </b:dataTableColumn>
                                <b:dataTableColumn label="UNITE">
                                    <h:outputText value="#{prod.unity.code}"/>
                                </b:dataTableColumn>
                            </b:dataTable>


                        </p:fieldset>

                        <b:row style="margin-top: 5%">

                            <b:commandButton oncomplete="$('.modalPseudoClassProdList').modal('hide'); return false;" 
                                             icon="remove " process=":proListForm" update=":listProdForm :ravProdForm" 
                                             ajax="true" style="margin-right: 2%" title="Annuler"
                                             size="sm"/>
                        </b:row>

                    </b:container>
                </h:form>
            </b:modal>        


            <b:modal id="modalUseProd" title="Utiliser le produit" styleClass="modalPseudoClassProd"
                     closable="false"  close-on-escape="false" backdrop="false" >
                <h:form id="useProdForm">
                    <b:container id="useProdModalCon" fluid="true">
                        <p:fieldset id="useProdModalPan">

                            <b:row style="margin-top: 2%">
                                <b:column medium-screen="1">
                                    <b:inputText id="useProdMsg" rendered="false"
                                                 ajax="true" autocomplete="false" update="@(.useProdMessage)">
                                    </b:inputText>
                                </b:column>


                                <b:column medium-screen="10" style-class="useProdMessage">
                                    <b:message  style="height: 50%" for=":useProdForm:useProdMsg"/>
                                    <b:message  style="height: 50%" for=":useProdForm:prodName"/>
                                    <b:message  style="height: 50%" for=":useProdForm:usedQuantity" />
                                </b:column>

                            </b:row>


                            <b:row style="margin-top: 5%">
                                <b:column medium-screen="1">
                                </b:column>
                                <b:column medium-screen="10">
                                    <b:selectOneMenu id="prodName" value="#{usedProdBean.prodLibelle}" >
                                        <f:ajax event="change" listener="#{usedProdBean.prodSelected()}"/>
                                        <f:selectItem itemLabel="Selectionner le produit" />
                                        <f:selectItems value="#{usedProdBean.prodHRProductsList}" 
                                                       var="unHRP" 
                                                       itemValue="#{unHRP.product.libelle}" 
                                                       itemLabel="#{unHRP.product.libelle}"/>

                                    </b:selectOneMenu>
                                </b:column> 
                                <b:column medium-screen="1">
                                </b:column>

                            </b:row>



                            <b:row style="margin-top: 2%">                                
                                <b:column medium-screen="6">

                                    <p:outputLabel value="Code: #{usedProdBean.prodCode}" />
                                </b:column>

                                <b:column medium-screen="6">
                                    <p:outputLabel value="Quantité limite: #{usedProdBean.prodLimityQuantity}"/>
                                </b:column> 
                            </b:row>



                            <b:row style="margin-top: 2%">                                                                   
                                <b:column medium-screen="6">
                                    <p:outputLabel value="Quantité disponible: #{usedProdBean.prodCurrentQuantity}"/>
                                </b:column>
                                <b:column medium-screen="6">
                                    <p:outputLabel value="Unité: #{usedProdBean.prodUnityLibelle}"/>
                                </b:column>
                            </b:row>


                            <b:row style="margin-top: 2%">                                   
                                <b:column medium-screen="6">
                                    <p:outputLabel value="Date de p.: #{usedProdBean.prodPeremptionDate}"/>
                                </b:column>
                                <b:column medium-screen="6">
                                    <b:inputText placeholder="quantité souhaitée" value="#{usedProdBean.prodUsedQuantity}" 
                                                 id="usedQuantity"  
                                                 ajax="true" update="@(.useProdMessage)"
                                                 converterMessage="Veuillez entrer une valeur numérique">                                                     
                                        <f:convertNumber pattern="##0.00" maxIntegerDigits="3"/>

                                    </b:inputText>
                                </b:column>  
                            </b:row>

                        </p:fieldset>

                        <b:row style="margin-top: 5%">
                            <b:commandButton   icon="check " title="Valider"
                                               process="useProdForm"
                                               update=":useProdForm :proListForm :listProdForm :prodDetailForm :ravProdForm" 
                                               ajax="true" action="#{usedProdBean.useProduct()}"
                                               size="sm" look="success" style="margin-right: 2%"
                                               />

                            <b:commandButton action="#{usedProdBean.useProdCloseModal()}"
                                             icon="remove " process=":proListForm" update=":useProdForm :listProdForm :ravProdForm" 
                                             ajax="true" style="margin-right: 2%" title="Annuler"
                                             size="sm"/>
                        </b:row>

                    </b:container>
                </h:form>
            </b:modal>

            <b:modal id="modalRavProd" title="Ravitaller le produit" styleClass="modalPseudoClassProd2"
                     closable="false"  close-on-escape="false" backdrop="false" >
                <h:form id="ravProdForm">
                    <b:container id="ravProdModalCon" fluid="true">
                        <p:fieldset id="ravProdModalPan">

                            <b:row style="margin-top: 2%">
                                <b:column medium-screen="1">
                                    <b:inputText id="ravProdMsg" rendered="false"
                                                 ajax="true" autocomplete="false" update="@(.ravProdMessage)">
                                    </b:inputText>
                                </b:column>


                                <b:column medium-screen="10" style-class="ravProdMessage">
                                    <b:message  style="height: 50%" for=":ravProdForm:ravProdMsg"/>
                                    <b:message  style="height: 50%" for=":ravProdForm:prodName2"/>
                                    <b:message  style="height: 50%" for=":ravProdForm:ravQuantity" />
                                </b:column>

                            </b:row>


                            <b:row style="margin-top: 5%">
                                <b:column medium-screen="1">
                                </b:column>
                                <b:column medium-screen="10">
                                    <b:selectOneMenu id="prodName2" value="#{usedProdBean.prodLibelle}" >
                                        <f:ajax event="change" listener="#{usedProdBean.prodSelected()}"/>
                                        <f:selectItem itemLabel="Selectionner le produit" />
                                        <f:selectItems value="#{usedProdBean.prodHRProductsList}" 
                                                       var="unHRP2" 
                                                       itemValue="#{unHRP2.product.libelle}" 
                                                       itemLabel="#{unHRP2.product.libelle}"/>

                                    </b:selectOneMenu>
                                </b:column> 
                                <b:column medium-screen="1">
                                </b:column>

                            </b:row>



                            <b:row style="margin-top: 2%">                                
                                <b:column medium-screen="6">

                                    <p:outputLabel value="Code: #{usedProdBean.prodCode}" />
                                </b:column>

                                <b:column medium-screen="6">
                                    <p:outputLabel value="Quantité limite: #{usedProdBean.prodLimityQuantity}"/>
                                </b:column> 
                            </b:row>



                            <b:row style="margin-top: 2%">                                                                   
                                <b:column medium-screen="6">
                                    <p:outputLabel value="Quantité disponible: #{usedProdBean.prodCurrentQuantity}"/>
                                </b:column>
                                <b:column medium-screen="6">
                                    <p:outputLabel value="Unité: #{usedProdBean.prodUnityLibelle}"/>
                                </b:column>
                            </b:row>


                            <b:row style="margin-top: 2%">                                   
                                <b:column medium-screen="6">
                                    <p:outputLabel value="Date de p.: #{usedProdBean.prodPeremptionDate}"/>
                                </b:column>
                                <b:column medium-screen="6">
                                    <b:inputText placeholder="quantité ravitaillée" value="#{usedProdBean.prodUsedQuantity}" 
                                                 id="ravQuantity"  
                                                 ajax="true" update="@(.useProdMessage)"
                                                 converterMessage="Veuillez entrer une valeur numérique">                                                     
                                        <f:convertNumber pattern="##0.00" maxIntegerDigits="3" />

                                    </b:inputText>
                                </b:column>  
                            </b:row>

                        </p:fieldset>

                        <b:row style="margin-top: 5%">
                            <b:commandButton   icon="check " title="Valider"
                                               process="ravProdForm"
                                               update=":useProdForm :proListForm :listProdForm :prodDetailForm :ravProdForm" 
                                               ajax="true" action="#{usedProdBean.ravProduct()}"
                                               size="sm" look="success" style="margin-right: 2%"
                                               />

                            <b:commandButton  
                                icon="remove " process=":proListForm" update=":useProdForm :listProdForm :ravProdForm" 
                                ajax="true" style="margin-right: 2%" title="Annuler"
                                size="sm" action="#{usedProdBean.ravProdCloseModal()}" />
                        </b:row>

                    </b:container>
                </h:form>
            </b:modal>


            <div class="bodyMainDiv">
                <div id="bodyDivRoomId">

                    <h:form>

                        <div class="container">
                            <div class="row">
                                <div class="col-md-4">
                                    <h1><b>Foyer</b></h1>
                                    <p:spacer height="50px"/>
                                </div>
                                <div class="col-md-4"></div>
                                <div id="divButtonRoomPageId" class="col-md-4">
                                    <b:commandButton title="Acceuil" icon="home" action="#{navigationBean.backToWelcomePage()}" size="2x" style="margin-right: 15%" />  
                                    <b:commandButton title="Retour" icon="arrow-left" size="2x" action="#{navigationBean.backToMainPage()}"/>

                                </div>
                            </div>


                        </div>


                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">

                                    <b:panelGrid size="lg"  columns="2">


                                        <b:column><h4><b><h:outputText value="Nom du foyer: "/></b></h4></b:column> 
                                        <b:column><h4><b><h:outputText value="#{homeBean.homeName}"/></b></h4></b:column> 
                                        <b:column><h4><b><h:outputText value="Rue: "/></b></h4></b:column> 
                                        <b:column><h4><b><h:outputText value="#{homeBean.homeStreet}"/></b></h4></b:column> 
                                        <b:column><h4><b><h:outputText value="Code postal, ville: "/></b></h4></b:column> 
                                        <b:column><h4><b><h:outputText value="#{homeBean.homeZipcode}, #{homeBean.homeCity}"/></b></h4></b:column>

                                    </b:panelGrid>

                                </div>
                                <div class="col-md-6"></div>
                            </div>


                        </div>

                        <b/>
                        <b/>

                    </h:form >

                    <div id="divRoomRoomPageId">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4">
                                    <h3><b>Pièce</b></h3>
                                </div>
                                <div class="col-md-4"></div>
                                <div class="col-md-4"></div>
                            </div>


                        </div>

                        <p:separator/>

                        <div id="divRoomDetailRoomPageId">

                            <div class="container">
                                <div class="row">
                                    <div class="col-md-4">
                                        <h4>
                                            <h:outputText value="Nom de la pièce:  #{roomBean.roomLibelle}"/>
                                        </h4>
                                    </div>
                                    <div class="col-md-4">
                                        <h4>
                                            <h:outputText value="Code:  #{roomBean.roomCode}"/>
                                        </h4>
                                    </div>
                                    <div class="col-md-4"></div>
                                </div>


                            </div>

                        </div>
                        <b/>
                        <b/>


                        <b:container id="productCon" fluid="true">
                            <b:panel title="Inventaire des produits de la pièce" look="primary">
                                <b:row>
                                    <b:column id="proListColumn" medium-screen="6">
                                        <b:panel look="primary">
                                            <h:form id="proListForm">
                                                <b:row style="margin-bottom:5%">
                                                    <b:column span="2"></b:column>                                                    
                                                    <b:column span="3">
                                                        <b:commandButton ajax="true" update=":prodDetailForm :useProdForm :listProdForm :ravProdForm"
                                                                         action="#{usedProdBean.ravProdModal()}" value="Ravitailler un produit"  title="Ravitailler un produit" 
                                                                         look="success" size="sm"/>
                                                    </b:column>
                                                    <b:column span="2"></b:column>
                                                    <b:column span="3">
                                                        <b:commandButton ajax="true" update=":prodDetailForm :useProdForm :listProdForm :ravProdForm"
                                                                         action="#{usedProdBean.useProdModal()}" value="Utiliser un produit"  title="Utiliser un produit" 
                                                                         look="info" size="sm"/>
                                                    </b:column>
                                                    <b:column span="2"></b:column>
                                                </b:row>

                                                <b:dataTable pageLength="5" id="proList" value="#{productBean.prodHRProductsList}"
                                                             var="prodHRP" border="false" page-length="5">

                                                    <b:dataTableColumn label="Nom du prod.">
                                                        <h:commandLink value="#{prodHRP.product.libelle}" action="#{productBean.initPro(prodHRP.id)}">
                                                            <f:ajax render=":prodDetailForm :useProdForm :listProdForm :ravProdForm"/>
                                                        </h:commandLink>
                                                    </b:dataTableColumn>
                                                    <b:dataTableColumn label="Qu. Lim.">
                                                        <h:outputText value="#{prodHRP.limitQuantity}"/>
                                                    </b:dataTableColumn>
                                                    <b:dataTableColumn label="Qu. Disp.">
                                                        <h:outputText value="#{prodHRP.currentQuantity}"/>
                                                    </b:dataTableColumn>
                                                    <b:dataTableColumn label="Unité">
                                                        <h:outputText value="#{prodHRP.product.unity.code}"/>
                                                    </b:dataTableColumn>
                                                </b:dataTable>
                                            </h:form>
                                        </b:panel>
                                    </b:column>


                                    <b:column id="columproducts" medium-screen="6">
                                        <b:panel look="primary" style="background-color: blanchedalmond">
                                            <h:form id="prodDetailForm">
                                                <h3><b><u>#{productBean.prodDetailTitle}</u></b></h3>
                                                <p/>

                                                <b:row style="margin-top: 2%">
                                                    <b:column medium-screen="1">
                                                        <b:inputText id="prodMsg" rendered="false"
                                                                     ajax="true" autocomplete="false" update="@(.prodMessage)">
                                                        </b:inputText>
                                                    </b:column>


                                                    <b:column medium-screen="10" style-class="prodMessage">
                                                        <b:message  style="height: 50%" for=":prodDetailForm:prodMsg"/>
                                                        <b:message  style="height: 50%" for=":prodDetailForm:prodLibelle"/>
                                                        <b:message  style="height: 50%" for=":prodDetailForm:proCode"/>
                                                        <b:message  style="height: 50%" for=":prodDetailForm:prodAQ" />
                                                        <b:message  style="height: 50%" for=":prodDetailForm:prodLQ" />
                                                        <b:message  style="height: 50%" for=":prodDetailForm:prodALQ" />
                                                        <b:message  style="height: 50%" for=":prodDetailForm:prodQ" />
                                                        <b:message  style="height: 50%" for=":prodDetailForm:prodDP" />
                                                    </b:column>

                                                </b:row>

                                                <b:row style="margin-top: 10%">
                                                    <b:column medium-screen="10">  
                                                        <b:inputText ajax="true" update="@(.prodMessage)"
                                                                     placeholder="Nom du produit"
                                                                     disabled="#{productBean.nomDisabled}" id="prodLibelle"
                                                                     value="#{productBean.prodLibelle}"
                                                                     typeahead="true" 
                                                                     typeahead-values="#{productBean.productNames}"
                                                                     typeaheadValues="#{productBean.productNames}"
                                                                     />
                                                    </b:column>
                                                    <b:column medium-screen="2">
                                                        <b:commandButton disabled="#{productBean.nomDisabled}"
                                                                         icon="search" ajax="true" 
                                                                         process=":prodDetailForm"
                                                                         update=":prodDetailForm :listProdForm" 
                                                                         action="#{productBean.findProduct()}"
                                                                         title="Rechercher le produit" 
                                                                         />
                                                    </b:column>
                                                </b:row>
                                                <b:row style="margin-top:2%">

                                                    <b:column medium-screen="6">                                                    
                                                        <b:inputText label="Code du produit: " id="proCode" 
                                                                     value="#{productBean.prodCode}" disabled="#{productBean.codeDisabled}"
                                                                     ajax="true" update="@(.prodMessage)"/>
                                                    </b:column>
                                                    <b:column medium-screen="6">  
                                                        <b:datepicker  label="Date expiration: " id="prodDP"
                                                                       value="#{productBean.expirationDate}"
                                                                       changeMonth="true" 
                                                                       changeYear="true" placeholder="28/06/18">
                                                            <f:convertDateTime dateStyle="short" type="date" locale="fr_FR"/>

                                                        </b:datepicker>

                                                    </b:column>
                                                </b:row>
                                                <b:row style="margin-top:2%">
                                                    <b:column medium-screen="6">
                                                        <b:inputText label="Quantité alerte: " value="#{productBean.prodAlertQuantity}" 
                                                                     id="prodALQ"  
                                                                     ajax="true" update="@(.prodMessage)"
                                                                     converterMessage="Veuillez entrer une valeur numérique">                                                     
                                                            <f:convertNumber pattern="##0.00" maxIntegerDigits="3"/>

                                                        </b:inputText>
                                                    </b:column>
                                                    <b:column medium-screen="6">  
                                                        <b:inputText label="Quantité limite: "  value="#{productBean.prodLimityQuantity}" 
                                                                     id="prodLQ" 
                                                                     ajax="true" update="@(.prodMessage)"
                                                                     ><f:convertNumber pattern="##0.00" maxIntegerDigits="3"/></b:inputText>
                                                    </b:column>     
                                                </b:row>
                                                <b:row style="margin-top:2%">
                                                    <b:column medium-screen="6">
                                                        <b:inputText label="Quantité disponible: " value="#{productBean.prodCurentQuantity}" 
                                                                     id="prodAQ"
                                                                     ajax="true" update="@(.prodMessage)"
                                                                     ><f:convertNumber pattern="##0.00" maxIntegerDigits="3"/></b:inputText>
                                                    </b:column>
                                                    <b:column medium-screen="6">  

                                                        <b:selectOneMenu  label="Unité: " disabled="#{productBean.codeDisabled}"  
                                                                          value="#{productBean.prodUnityCode}" 
                                                                          ajax="true" update="@(.prodMessage)" id="prodQ">
                                                            <f:selectItem itemLabel="-- SelectOne --"/>
                                                            <f:selectItems value="#{productBean.prodUnitiesList}" 
                                                                           var="unit" 
                                                                           itemLabel="#{unit.description}"
                                                                           itemValue="#{unit.code}"/>
                                                        </b:selectOneMenu>
                                                    </b:column>
                                                </b:row>

                                                <b:row style="margin-top:2%">
                                                    <b:column medium-screen="6">
                                                        <b:commandButton title="Réinitialiser le formulaire" 
                                                                         icon="refresh" size="sm"
                                                                         ajax="true" process=":proListForm" update=":ravProdForm :prodDetailForm :useProdForm :listProdForm"
                                                                         action="#{productBean.reset()}" style="margin-right: 5%"/>

                                                        <b:commandButton icon="plus" style="margin-right: 5%"
                                                                         title="Ajouter" ajax="true" 
                                                                         look="info" size="sm"
                                                                         process=":prodDetailForm"
                                                                         update=":prodDetailForm :proListForm:proList :useProdForm :listProdForm :ravProdForm" 
                                                                         action="#{productBean.addProduct()}"
                                                                         />

                                                        <b:commandButton icon="save" style="margin-right: 5%"
                                                                         title="Modifier" ajax="true" 
                                                                         look="info" size="sm"
                                                                         update=":prodDetailForm :proListForm:proList :useProdForm :listProdForm :ravProdForm"
                                                                         action="#{productBean.modifyProduct()}"/>

                                                        <b:commandButton icon="trash" title="Supprimer" ajax="true" 
                                                                         look="danger" size="sm"
                                                                         process=":prodDetailForm" 
                                                                         update=":prodDetailForm :proListForm:proList :useProdForm :listProdForm :ravProdForm" 
                                                                         action="#{productBean.deleteHRP()}"
                                                                         />      
                                                    </b:column>
                                                    <b:column medium-screen="6">  

                                                    </b:column>
                                                </b:row>
                                            </h:form>
                                        </b:panel>
                                    </b:column>
                                </b:row>
                            </b:panel>
                        </b:container>
                    </div>
                </div>
            </div>
        </ui:define >
    </ui:composition>
</html>
