<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <h:head>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"></link>

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"></link>

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet name="/css/default.css"/>
        <h:outputStylesheet name="/css/cssLayout.css"/>
        <style>               
            .Bimage{
                position: fixed;
                z-index: -1; 

                background-image:url("/HomeshoppinglistApp/faces/faces/resources/img/cady.png") ;
                width: 100%;
                height: 100%;

                -webkit-filter: blur(3px);filter: blur(3px)
            }    
        </style> 


        <title>HomeShoppingListAppConnexion</title>
    </h:head>

    <h:body id="connexionBodyId">
        
        <div id="connexionTop">
            <ui:insert name="connexionTop">
            </ui:insert>
        </div>
        <dir class="Bimage"></dir>

        <div id="connexionContent" class="connexionCenter_content">
            <ui:insert name="connexionContent">
            </ui:insert>
        </div>

    </h:body>

</html>
