<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"></link>

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"></link>

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet name="/css/default.css"/>
        <h:outputStylesheet name="/css/cssLayout.css"/>
        <style>               
            .BimageMainTemplate{
                position: fixed;
                z-index: -1; 

                background-image:url("/HomeshoppinglistApp/faces/faces/resources/img/hsl.jpg") ;
                width: 100%;
                height: 100%;
                padding-bottom:5%;

                -webkit-filter: blur(3px);filter: blur(3px);
                background-size:cover;
                -webkit-background-size:cover;
                -moz-background-size:cover;
                -o-background-size:cover;
            }    
        </style> 

        <title>HomeShoppingListApp</title>
    </h:head>

    <h:body>
        <h:form id="myFormDeco">
            <b:modal id="amodal2" title="Déconnexion" styleClass="modalDeco"
                     closable="false"  close-on-escape="false" backdrop="false">

                <b:container id="DecoModalCon" fluid="true">
                    <p:fieldset id="decoModalFiel">
                        <center>
                            <h2><b><i>Souhaitez-vous quitter l'application ?</i></b></h2>
                        </center>
                    </p:fieldset>
                </b:container>

                <f:facet name="footer">
                    <b:commandButton
                        action="#{loginBean.logout()}"  icon="glyphicon glyphicon-log-out" look="success"
                        title="Déconnexion" size="sm" style="margin-left:3%"/>
                    <b:button icon="remove" title="Annuler" dismiss="modal" size="sm"/>

                </f:facet>
            </b:modal>
        </h:form> 


        <h:form id="myFormAccount">
            <b:modal id="amodalAccount" title="Mon compte" styleClass="modalAccount"
                     closable="false"  close-on-escape="false" backdrop="false">

                <b:container id="a" fluid="true">
                    <p:fieldset id="accountModalFiel">
                        <center>
                            <h3><u><b>Mes informations personnelles</b></u></h3>
                        </center>
                        <b:row>
                            <b:column medium-screen="6">
                                <b:inputText label="Nom: " id="lstname" value="#{userBean.lastname}" />
                            </b:column>
                            <b:column medium-screen="6">
                                <b:inputText label="Prénom: " id="fstname" value="#{userBean.firstname}" />
                            </b:column>
                        </b:row>
                        <b:row>
                            <b:column medium-screen="6">
                                <b:datepicker  label="Date Nais.: " id="birthdate"
                                               value="#{userBean.birthday}"
                                               changeMonth="true" 
                                               changeYear="true" placeholder="28/06/18">
                                    <f:convertDateTime dateStyle="short" type="date" locale="fr_FR"/>
                                </b:datepicker>
                            </b:column>
                            <b:column medium-screen="6">
                                <b:inputText label="Email: " id="emailU" value="#{userBean.emailAdd}" disabled="true"/>
                            </b:column>
                        </b:row>

                        <center>
                            <div style="margin-top: 3%">
                                <p:separator />
                            </div>
                            <h3><u><b>Mes foyers</b></u></h3>
                        </center>

                        <b:dataTable id="homesList" value="#{welcomeBean.membersShip}"
                                     var="mem">

                            <b:dataTableColumn label="NOM DU FOYER" order="asc">
                                <h:outputText value="#{mem.home.name}"/>
                            </b:dataTableColumn>
                            <b:dataTableColumn label="ROLE">
                                <h:outputText value="#{mem.status.code}"/>
                            </b:dataTableColumn>
                            <b:dataTableColumn label="DE">
                                <h:outputText value="#{mem.startDate}">
                                    <f:convertDateTime dateStyle="short" type="date" locale="fr_FR"/>
                                </h:outputText>
                            </b:dataTableColumn>
                            <b:dataTableColumn label="À">
                                <h:outputText value="#{mem.endDate}">
                                    <f:convertDateTime dateStyle="short" type="date" locale="fr_FR"/>
                                </h:outputText>
                            </b:dataTableColumn>
                        </b:dataTable>
                    </p:fieldset>
                </b:container>

                <f:facet name="footer">
                    <b:commandButton
                        action="#{userBean.modify()}"  icon="glyphicon glyphicon-log-out" look="success"
                        title="Modifier" size="sm" style="margin-left:3%"/>
                    <b:button icon="remove" title="Fermer" dismiss="modal" size="sm"/>

                </f:facet>
            </b:modal>
        </h:form> 


        <div id="top">

            <h:form id="initForm">
                <p:growl id="growl" showDetail="true" sticky="true" life="800" />


                <b:navBar id="navBarCommon"  brand="Homeshoppinglist" fluid="true" >
                    <b:navbarLinks>
                        <b:navLink href="#" icon="glyphicon glyphicon-info-sign"></b:navLink>

                    </b:navbarLinks>

                    <b:navbarLinks pull="right"><b:navLink  href="#"></b:navLink></b:navbarLinks>
                    <b:navbarLinks pull="right" styleClass="hidden-xs">


                        <b:navLink href="#"></b:navLink>
                        <b:navLink  href="#"></b:navLink>
                        <b:navLink href="#"></b:navLink>
                        <b:navLink href="#"></b:navLink>
                        <b:dropMenu value="#{loginBean.user.firstname}" icon="user">                            
                            <b:navLink  href="#"><p:outputLabel value="#{loginBean.user.lastname}  #{loginBean.user.firstname}"/></b:navLink>
                            <b:navLink></b:navLink>
                            <b:navLink href="#"><b:commandButton ajax="true" update=":myFormAccount:homesList "
                                                                 action="#{welcomeBean.ravAccountModal()}" value="Mon compte"  title="Mon compte" 
                                                                          size="sm"/></b:navLink>
                            <b:navLink></b:navLink>
                            <b:navLink  href="#"><b:button  onclick="$('.modalDeco').modal()" value="Se déconnecter" icon="glyphicon glyphicon-log-out" size="sm"/></b:navLink>
                        </b:dropMenu>
                    </b:navbarLinks>
                </b:navBar>

            </h:form>
        </div>

        <dir class="BimageMainTemplate"></dir>

        <div id="content" class="center_content">
            <ui:insert name="content">


            </ui:insert>
        </div>

    </h:body>

</html>
